@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:wght@400;600;700&display=swap");

:root {
  --CallToAction: linear-gradient(
    to right top,
    #8a1bb1,
    #ea0c87,
    #ff665d,
    #ffb349,
    #f9f871
  );

  --LightShades: #f1e9e9;
  --LightAccent: #968fab;
  --BrandColor: #8a1bb1;
  --DarkShades: #1b1c26;
  --DarkAccent: #262735;

  /*Diffrent brand colors*/
  --Vue: #4fc08d;
  --Blender: #EB5E28;

  --Cs: #9B6CD6;
  --Cpp: #649BD3;
  --JS: #f7e018;
  --CSS: #214CE5;
  --Html: #E54C21;
  --PHP: #787CB4;


  font-size: 1.75vh;
}



html,
body {
  scroll-behavior: smooth;

  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Source Code Pro", monospace;

  margin: 0;
  min-height: 100vh;
  background-color: var(--DarkShades);
  color: var(--LightShades);

  transition: all 0.25s ease-out;
}

h1{
  padding: 0;
  margin: 0.1rem;
  font-size: 3rem;
}


/*This is what the navbar will scroll to, it also acts as a divider*/
.anchour-point{
  border-top: var(--DarkAccent) solid 0.2rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.anchour-point.is-alone{
  margin-top: 3rem;
}



.container{
  width: 50vmax;
  margin:auto;
}

/*Navbar stuff*/
ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  z-index: 2;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  background-color: var(--DarkShades);
  border-bottom: var(--DarkAccent) solid 0.2rem;
}
.navbar h1{
  font-size: 2rem;
}
.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-item{
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-item .i{
  transition: all 0.25s ease-out;
}

.navbar-item .i:hover, .navbar-item .i:focus{
  color: var(--LightAccent);
  border-bottom: var(--BrandColor) solid 0.2rem;
}


/*Header stuff*/
header {
  min-height: 100vmin;
}

header img{
  margin-top: 30%;
  margin-bottom: 0%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #000;
  transition: all .5s;
}

header img:hover{
  transform: scale(1.2);
  box-shadow: 0px 10px 20px #000;
}

.header-underline{
  border-bottom: 2px var(--Cpp);
}


/*Footer stuff*/
footer{
  margin-top: 10rem;
  border-top: var(--DarkAccent) solid 0.2rem;
  height: 10rem;
  text-align: center;
  justify-content: center;
}


.btn{
  padding: 0.5rem;
  margin-top: 2rem;
}

.read-more{
  border: 0.05rem solid var(--BrandColor);
  color: var(--BrandColor);
}

.read-more:hover{
  background: var(--BrandColor);
  color: var(--LightShades);
}

.grid-showcasse{
  display: grid;
  gap: 1rem;


  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-showcasse.layout{
  margin-top: 1rem;
  gap: 1rem;
  row-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
}

.grid-card{
  border: 0.2rem solid var(--DarkAccent) ;
  border-radius: 0.2rem;
}

.grid-card.layout{
  border: 0;
  border-radius: 0;
  border-color: none;
}

.grid-card.filler{
  border: 0;
  border-radius: 0;
  background-color: #968fab;
}


/*Making this thing responsive*/
@media only screen and (max-width: 800px) {
  :root{
    font-size: 16px;
  }

  h1{
    padding: 0;
    margin: 0.1rem;
    font-size: 2.5rem;
  }
  .container{
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    width: auto;
    
  }

  .btn.read-more{
    padding-left: auto;
    padding-right: auto;
  }

  header{
    height: 100vh;
  }

  #landingPageText h1{
    font-size: 2rem;
  }
}