@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:wght@400;600;700&display=swap");

:root {
  --CallToAction: linear-gradient(
    to right top,
    #8a1bb1,
    #ea0c87,
    #ff665d,
    #ffb349,
    #f9f871
  );

  --LightShades: #f1e9e9;
  --LightAccent: #968fab;
  --BrandColor: #8a1bb1;
  --DarkShades: #1b1c26;
  --DarkAccent: #262735;
}

html,
body {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Source Code Pro", monospace;

  margin: 0;
  height: 100vh;
  background-color: var(--DarkShades);
  color: var(--LightShades);

}

h1{
  padding: 0;
  margin: 0.1rem;
  font-size: 3rem;
}

.container{
  width: calc(100vw - 50vmax);

  margin-left: 25vmax;
  margin-right: 25vmax;

}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  z-index: 2;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  background-color: var(--DarkShades);
  border-bottom: var(--DarkAccent) solid 2px;
}
.navbar h1{
  font-size: 2rem;
}
.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-item{
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-item .i{
  transition: all 0.25s ease-out;
}

.navbar-item .i:hover, .navbar-item .i:focus{
  color: var(--LightAccent);
  border-bottom: var(--BrandColor) solid 3px;
}

header {
  margin-top: 6rem;
  min-height: 100vmin;
}

header img{
  margin-top: 15%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #000;
  transition: all .5s;
}

header img:hover{
  transform: scale(1.2);
  box-shadow: 0px 10px 20px #000;
}

section{
  margin-bottom: 10rem;
}

.section1{
  filter:hue-rotate(175deg);
}



footer{
  border-top: var(--DarkAccent) solid 2px;
  height: 2vh;
}
